@using Mvc1Autofac.Services
@inject Jedi Jedi
@{
  ViewData["Title"] = "Home Page";
  
  Jedi.Name = "Luke Skywalker";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <span class="btn btn-primary"> @Jedi.GetName() </span>
</div>
